@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --landing-dark: hsl(45, 93%, 30%);
  --landing: hsl(45, 93%, 47%);
  --landing-bright: hsl(45, 93%, 55%);
  --background: 0 0% 0%;
  --foreground: 0 0% 100%;
  --card: 0 0% 0%;
  --card-foreground: 0 0% 100%;
  --popover: 0 0% 0%;
  --popover-foreground: 0 0% 100%;
  --primary: 45 100% 50%;
  --primary-foreground: 0 0% 0%;
  --secondary: 45 100% 50%;
  --secondary-foreground: 0 0% 0%;
  --muted: 0 0% 20%;
  --muted-foreground: 0 0% 60%;
  --accent: 45 100% 50%;
  --accent-foreground: 0 0% 0%;
  --destructive: 0 100% 50%;
  --destructive-foreground: 0 0% 100%;
  --border: 45 100% 50%;
  --input: 45 100% 50%;
  --ring: 45 100% 50%;
  --radius: 0.75rem;
}

body {
  font-feature-settings: "rlig" 1, "calt" 1;
}
/* hide all scrollbars globally */
html,
body {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.glowing-text {
  animation: breathingGlow 3s ease-in-out infinite;
}

/* Keyframes for breathing glow effect */
@keyframes breathingGlow {
  0%,
  100% {
    text-shadow: 0 0 5px currentColor;
  }
  50% {
    text-shadow: 0 0 20px currentColor;
  }
}

@media (max-width: 630px) {
  .wave-container {
    width: 200vw;
  }
}
